* {
    margin: 0;
    padding: 0;

}

/* HEADER SECTION START */
nav {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgb(118, 115, 115);
    height: 80px;

}

nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 30px;
}
.nav{width: 50px;
    margin-left: 918px;
    
    
}
.logo {
    font-size: 30px;
}

/* HERO SECTION  */
a{
    color: black;
    text-decoration: none;
}
#hero {
    text-align: center;
    padding: 50px 0px;
}

#hero h3 {
    font-size: 50px;
    padding: 20px 0px;
}

#hero pre {
    font-size: 20px;
    padding: 20px 0px;
}

#hero div {
    width: fit-content;
    margin: auto;
}

hr {
    background-color: black;
    height: 2px;
    border: 0;
    
}

/* CARD SECTION */
#blog {
    text-align: center;
}

#blog h3 {
    font-size: 50px;
    padding: 50px 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-bottom: 70px;
}

.card {
    display: flex;
    justify-content: center;
    margin: auto;
    column-gap: 30px;
    width: fit-content;
}

.card p {
    padding: 20px;
    font-size: 15px;
    font-family: sans-serif;
}

/* FOOTER START */
footer {
    height: 400px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;

}

footer marquee {
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 20px;

}

marquee span {
    font-weight: bold;
    font-size: 20px;
}

.footer h3 {
    font-size: 30px;
    padding-top: 60px;
    
}

.footer p {
    padding: 20px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socials a {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

footer span :last-of-type{
    height: 50px;
    width: 300px;
    padding-top: 70px;
    margin: auto;
}

/* PAGE-2 */
/* HERO SECTION 2 START */
#hero2 {
    text-align: center;
    padding: 50px 0px;
}

#hero2 h3 {
    font-size: 50px;
    padding: 20px 0px;
}

#hero2 pre {
    font-size: 20px;
    padding: 20px 0px;
}

#hero2 div {
    width: fit-content;
    margin: auto;
}

#hero2 div {
    width: 100%;
}

#hero2 img {
    width: 100%;
}

/* ARTICLE SECTION */


.articlewrapper {

    height: fit-content;
    width: fit-content;
    margin: auto;
    padding-bottom: 50px;

}

.articleheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;



}

.dp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    width: fit-content;
    height: 30px;
    font-family: sans-serif;
}

.dp img {
    height: 100%;
    margin-right: 20px;
}

.socials2 {

    display: flex;
    height: 30px;
    width: 90px;
    margin-right: 2px;
    border-radius: 2px;
    background-image: url(./assets/logo1.png);
    background-size: cover;
}


.articlewrapper h3 {
    font-size: 30px;
    font-family: sans-serif;
}

.centerphoto {
    margin: auto;
    width: fit-content;
    text-align: center;

}

.centerphoto img {
    width: 550px;
}

.articlewrapper2 {
    margin: auto;

    width: fit-content;
    height: fit-content;
    padding: 20px 0px;

}

.articlewrapper2 p {
    padding-top: 20px;
}

.articlewrapper2 ul li {
    margin-left: 18px;
    padding-top: 10px;
}

.articlewrapper2 P:last-child {

    padding: 20px 0px;
}

.articlebottomsocials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;

}

.articlebottomsocials button {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(167, 167, 167);
    background-color: white;
    
}

    
.facebook{
 background-image: url(./assets/facebook.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 130px;
}

.x{
    background-image: url(./assets/x.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 120px;
}
pre {
    margin: 30px 0px;
}
.dp p{
    font-size: 14px;
}
span{
    font-size: 15px;
}
.articlefooter{
    margin: 20px 0px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 hr{
    border: none;
} 


.articlewrapper2 hr {
    border-top: dotted black;
    height: 0;
    background-color: white;
    margin:20px 0px;
}
/* PAGE2 BLOG SECTION START */
#blog2 hr{
    margin-top: 50px;
    position: relative;
}
.eyes{
    position: absolute;
    top: 2960px;
    left:600px;
}

.wrapper{
    margin-top: 120px;
}
.card2 {
    display: flex;
    justify-content: center;
    margin: auto;
    column-gap: 30px;
    width: fit-content;
    text-align: center;
}

.card2 p {
    padding: 20px;
    font-size: 15px;
    font-family: sans-serif;
}
/* FORM SECTION */
.form {
    width: 50%;
    height: 250px;
    border: 1px solid black;
    border-top: 8px solid black;
    margin: auto;
    margin-bottom: 70px;
    text-align: center;
}
.form h3{
    font-size:35px ;
    padding-top: 50px;

}
.form p{
    margin-top: 10px;
    font-size: 16px;
    font-family: sans-serif;
}

.input{
height: 50px;
width: 400px;
margin: auto;
padding: 25px 0px;
display: flex;
align-items: center;
justify-content: center;

}

 input{
    padding: 14px 155px 14px 8px;
    color: black;
    border: 1px solid black;
 }
.input button{
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    border: 0;
    padding: 14px 10px 14px 10px;

 }
 /* THE END */
